*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/assets/init_net.pb
app/src/main/assets/predict_net.pb
